.about_grid {
  grid-template-rows: 0.8fr 1fr;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "about-1 torbay" "about-2 torbay";

  @media (max-width: $mantine-breakpoint-xl) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-rows: 0.8fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "about-1 torbay" "about-2 about-2";
  }

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-rows: 0.6fr 0.5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "about-1" "torbay" "about-2";
  }
}

.about_text_1 {
  grid-area: about-1;
}

.about_text_2 {
  grid-area: about-2;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 25rem;
  }
}

.about_torbay {
  grid-area: torbay;
}
