.about_grid {
  display: grid;
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  grid-template-rows: 0.8fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "about-1 about-1 torbay" "about-2 about-2 torbay";
  gap: 2rem;

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-rows: 0.8fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "about-1 torbay" "about-2 about-2";
    gap: 1rem;

    .about_text_1 {
      div {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-rows: 0.6fr 0.5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "about-1" "torbay" "about-2";
  }
}

.about_text_1 {
  grid-area: about-1;
  background-color: var(--mantine-color-body);

  div {
    justify-content: center;
    margin-top: 2rem;
  }
}

.about_text_2 {
  grid-area: about-2;
}

.about_torbay {
  grid-area: torbay;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
