.about_grid {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "about-1 torbay" "about-2 torbay";

  @media (max-width: $mantine-breakpoint-xl) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-areas: "about-1 torbay" "about-2 about-2";
  }

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "about-1" "torbay" "about-2";
  }
}

.about_text_1 {
  grid-area: about-1;
  white-space: pre-line;
  height: min-content;

  @media (max-width: $mantine-breakpoint-sm) and (min-width: $mantine-breakpoint-xs) {
    height: 100%;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    a {
      margin-top: 1rem;
      min-height: 2.5rem;
      max-width: 100%;
    }
  }
}

.about_text_2 {
  grid-area: about-2;
  white-space: pre-line;
  height: min-content;
}

.about_torbay {
  grid-area: torbay;
  height: min-content;
  overflow: hidden;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    border-radius: var(--mantine-radius-md);
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-sm) {
      height: auto;
      max-height: 20rem;
    }

    @media (max-width: $mantine-breakpoint-xs) {
      max-height: 11rem;
    }
  }

  img {
    max-height: 45rem;
    width: auto;

    @media (max-width: $mantine-breakpoint-sm) {
      max-height: 25rem;
    }

    @media (max-width: $mantine-breakpoint-xs) {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: 100%;
  }
}
