.header {
  height: 100%;
  margin-bottom: 25px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 17rem;
  }
}

.inner_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 5rem;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );

    &[data-active] {
      background-color: var(--mantine-color-blue-filled);
    }
  }
}

.theme_icon_loading {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
