.services_list {
  h5 {
    margin-bottom: 1rem;
  }

  ul {
    text-align: left;
    --list-fz: var(--mantine-font-size-sm);
    --list-lh: var(--mantine-line-height-sm);
    --list-spacing: var(--mantine-spacing-xs);
  }
}
