.body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--mantine-color-pleasant-blue-filled);
  z-index: 10;
}

.grid {
  position: fixed;
  display: grid;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 11fr;
  overflow: hidden;
  z-index: 10;

  @media (max-width: $mantine-breakpoint-lg) {
    grid-template-columns: 0fr 6fr 0fr;
  }

  @media (max-width: $mantine-breakpoint-sm) and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 22/9) and (orientation: landscape) {
    grid-template-rows: 1fr 6fr;
  }
}

.nav_container {
  position: relative;
  min-height: 3.8rem;
  z-index: 12;
  --paper-shadow: var(--mantine-shadow-sm);
}

.content_container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  overflow-y: auto;
  padding-bottom: 5rem;
  z-index: 10;
}
