.home_grid {
  height: 60rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "tagline tagline summary" "review map map";

  @media (max-width: $mantine-breakpoint-sm) {
    height: 70rem;
    grid-template-rows: 1fr 0.6fr 0.7fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "tagline" "summary" "map" "review";
  }

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-rows: 1fr 0.6fr 0.7fr 0.2fr;
  }
}

.tagline {
  grid-area: tagline;
}

.tagline_image_container {
  grid-area: tagline;
}

.summary {
  grid-area: summary;
}

.review {
  grid-area: review;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 10rem;
  }
}

.map {
  grid-area: map;
}
