.home_grid {
  grid-template-rows: 1fr min-content 1.1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "tagline tagline summary" "review-container review-container review-container" "map map map";

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-rows: 1fr 0.6fr min-content 1.3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "tagline" "summary" "review-container" "map";
  }

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-rows: 1fr 0.6fr min-content 1fr;
  }
}

.tagline {
  grid-area: tagline;
  min-height: 30rem;

  @media (max-width: $mantine-breakpoint-md) {
    min-height: 44rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: 30rem;
  }
}

.summary {
  grid-area: summary;
  min-height: 30rem;

  @media (max-width: $mantine-breakpoint-md) {
    min-height: 44rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: 28rem;
  }
}

.review_carousel_container {
  grid-area: review-container;
  min-height: 6rem;

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: 12rem;
  }
}

.map {
  grid-area: map;
}
