.rateservice_grid {
  grid-template-rows: 0.4fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "rate rate" "services services";
}

.rateservice_rate {
  grid-area: rate;
  display: flex;
  height: 12rem;

  @media (max-width: $mantine-breakpoint-sm) {
    display: block;
    height: 20rem;
  }
}

.rateservice_services {
  grid-area: services;
  height: 35rem;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 70rem;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: 80rem;
  }
}
