.rateservice_grid {
  grid-template-rows: 0.4fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "rate rate" "services services";
}

.rateservice_rate {
  grid-area: rate;
  display: flex;

  p {
    white-space: pre-line;
  }

  div {
    margin-right: 1rem;

    h4 {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    display: block;

    div:first-child {
      margin-bottom: 1rem;
    }
  }
}

.rateservice_services {
  grid-area: services;
  display: grid;
  text-align: center;
  height: min-content;

  h4 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.services_cards {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}
