.contactus_grid {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "form details";

  h4 {
    margin-bottom: 1rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-areas: "details" "form";
  }
}

.contact_details {
  grid-area: details;
  height: min-content;
}

.contact_details_list {
  word-break: break-word;
  margin-bottom: 1rem;
  --list-marker-gap: var(--mantine-spacing-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    --list-marker-gap: 0;
  }
}

.contact_details_list_label {
  a {
    color: var(--mantine-color-text);
  }
}

.contact_form {
  grid-area: form;
  height: fit-content;
}
