.contactus_grid {
  display: grid;
  position: relative;
  left: 5%;
  width: 90%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "form details";
  gap: 2rem;

  @media (max-width: $mantine-breakpoint-sm) {
    gap: 1rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "details" "form";
  }
}

.contact_details {
  grid-area: details;

  h4 {
    margin-bottom: 1rem;
  }

  li {
    word-break: break-word;

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

.contact_form {
  grid-area: form;
}
