.services_list {
  margin: 1rem;
  height: 100%;
  width: 100%;

  h5 {
    margin-bottom: 2rem;
  }

  ul {
    text-align: left;
    --list-fz: var(--mantine-font-size-sm);
    --list-lh: var(--mantine-line-height-sm);
    --list-spacing: var(--mantine-spacing-xs);
  }

  @media (max-width: $mantine-breakpoint-md) {
    margin: 0;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 80%;
    margin: 0 0 1rem 0;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}
